{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Health Inspector</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <h3>Our Vision</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <h3>Our Mission</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <h1>Our dedicated team</h1>
                <p>Team member will be listed below</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-3 p-3">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename='images/1.jpg')}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
            <div class="col-3 p-3">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename='images/2.png')}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
            <div class="col-3 p-3">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename='images/3.jpeg')}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
            <div class="col-3 p-3">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename='images/4.jpeg')}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
            <div class="col-3 p-3">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename='images/5.jpeg')}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
