<!DOCTYPE html>
<html lang="en">
<head>

  <title>Health Mart</title>
  <link rel="icon" type="image/png" href="rx.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="home.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<nav class="my-navbar navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="jubayer.html">Health Mart</a>
	 </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/jubayer.html#">Home</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Personalcare.html">PERSONAL CARE</a></li>
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/medicine.html">MOTHER & BABY</a></li>
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/diabetic.html">DIABETIC</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/eye&ear.html">EYE & EAR</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/oral.html">DENTAL & ORAL</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Herbal.html">HERBAL</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Multivitamins.html">MULTIVITAMINS</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/sexual.html">SEXUAL</a></li>
          </ul>
        </li>

		<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pharmacy<span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="#">Product Request</a></li>
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/AllMedicines.html">All Medicines</a></li>
			<li><a href="#">Prescription Upload</a></li>


          </ul>
        </li>
		<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Aboutus.html">About us</a></li>
        <li><a href="#contact">Contact</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>

	  <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</div>

</div>
</nav>
<br>
<br>


<div style="border: 2px solid gray,
    padding: 8px;" >
<h1 style="text-align: center,
    text-transform: uppercase,
    color: #4CAF50;">About Health Mart</h1>
<p>Health Mart – Your Online Healthcare Solution

Bangladesh based online healthcare solution.

We are a ONE-STOP ONLINE Healthcare Solutions where we not only provide a wide range of medicines, we also offer a wide choice of healthcare products including wellness products, vitamins, diet/fitness supplements, herbal products, pain relievers, diabetic care kits, baby/mother care products, beauty care products and surgical supplies.

Considering prevailing busy city life where traffic, lack of parking, non-availability of medicines, we want to ensure Convenience to our valued customers. With easy access to reliable drug information, our customers will get to know all about medicine both locally produced and imported from abroad. Being a client of epharma.com.bd, customer will get regular refill reminders, alternative medicine options staying at home to Make Your Life Easier.

Our Aim is to provide you with best & convenient healthcare, convenient and safe and secure online shopping experience. We endeavor to provide products at a very competitive price coupled with highest standards of delivery to customers.

We have our own drug license(license no: DC-1785) by Bangladesh Drug Authority, under the Bengal drugs rules, 1946 and we are active member of e-commerce association of Bangladesh(e-Cab, member no: 370).  We have registered & reliable pharmacy stores and shops nation-wide so you can order from us with confidence.

</div>
</body>
</html>
