{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
          <div class="col-6">
            <form action="{{url_for('create_comment')}}" method="post">
              <input type="number" name="service_id" value="{{service_id}}" hidden>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">What do you think about this service?</label>
                    {{form.comment_text(class="form-control")}}
                </div>
                {{form.Submit}}
            </form>
          </div>
        </div>
    </div>
</section>


{% endblock %}
