<section class="bg-dark pt-5 pb-2 text-white">
    <div class="container py-6">
        <div class="row" style="padding-left: 3%" >
            <div class="col-6" >
                <h4 class="fnt_ptsans">About Us</h4>
                <p class="small fnt_ptsans">Health Inspecter is a dream that turned into a tech based startup, a business with a great purpose to create positive impacts in peoples' lives. It is the first online medical services and tests comparing platform in Bangladesh, providing real time information through a fully	integrated system. Health Inspector is missioned to bring convenience in the healthcare service for the general people in Bangladesh.</p>
            </div>
      <!--     <div class="col-4">
                <h4 class="fnt_ptsans">Quick Links</h4>
                <ul class="small">
                    <li>Assignment</li>
                    <li>Practice</li>
                    <li>Register</li>
                    <li>About us</li>
                    <li>Teachers</li>
                </ul>
            </div>    -->
            <div class="col-6">
                <h4 class="fnt_ptsans">Our Mission</h4>
                <p class="small fnt_ptsans">At Health Inspector, we are confident to make a difference in how people of Bangladesh approach	healthcare services. We have plans to integrate many other related services with the doctors'	appointment in the platform in coming days. The investment from BD Venture has given the	initiative more speed. Now, it's all about execution of the dreams to bring goodness out for	everyone in the country.</p>
            </div style= "display:inline-block; 
            margin-left: 40px;">
            <div>

            </div>
            <div>
                
                </div>
            
        </div>
       
    </div>
    
</section>
<div class=" pb-2 text-black" style="padding-left: 40%">
            <div class="col-7"  >
                    <h4 class="fnt_ptsans" style="font-weight:bolder; padding-left: 13.5%">Find us online</h4>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-facebook-square"></i></h3>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-twitter-square"></i></h3>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-linkedin"></i></h3>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-stack-overflow"></i></h3>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-github"></i></h3>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-instagram"></i></h3>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-whatsapp-square"></i></h3>
                    <h3 class="float-left mx-2 text-info"><i class="fab fa-instagram"></i></h3>
                </div>
                </div>
               
               
               <!--
                <span class="container py-6" style="background: black">
<div>
        <p class="text-center footer_copyright"><i class="fa fa-copyright" aria-hidden="true"></i> 2018 Health Inspector Ltd. All rights reserved.<br></p>

</div>
</span>

-->