{% extends 'base.html' %}
{% block content %}
<section id="welcome bg-light">
        <div class="jumbotron jumbotron-fluid mb-0 bg-white">
          <div class="container py-5 text-center text-dark">
            <h1 class="display-4 text-center fnt_kumar">Health Inspector</h1>
              <form class="mt-5" action="{{url_for('search')}}" method="post">
                <div class="row">
                  <div class="col-4">
                    {{form.location(class="form-control")}}
                    </div>
                    <div class="col-4">
                    {{form.service(class="form-control")}}
                    </div>
                    <div class="col-2">
                    {{form.Submit(class="btn btn-primary px-5") }}
                    </div>
                </div>
                </form>
          </div>
        </div>
</section>

<section class=" text-dark mt-5">
<div class="container py-5">
  <div class="row">
    <div class="col">
      <h3 class="fnt_ptsans">Health Inspector's vision</h3>
      <p class="pr-3 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col">
      <h3 class="pl-3 fnt_ptsans">Health Inspector's Motivation</h3>
      <p class=" small pl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
</section>

{% endblock %}
