{% extends 'base.html' %}

{% block content %}

<section>

        <div class="jumbotron jumbotron-fluid">
          <div class="container py-5">
            <h1 class="display-4 text-center">Health Inspector</h1>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-8 mt-5">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2 col-8" type="search" placeholder="Search for any medical services" aria-label="Search">
                      <button class="btn btn-success my-2 my-sm-0 px-5" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
          </div>
        </div>

</section>

{% endblock %}
