<!DOCTYPE html>
<html lang="en">
<head>

  <title>Health Mart</title>
  <link rel="icon" type="image/png" href="rx.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="home.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<nav class="my-navbar navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="jubayer.html">Health Mart</a>
	 </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/jubayer.html#">Home</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Personalcare.html">PERSONAL CARE</a></li>
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/medicine.html">MOTHER & BABY</a></li>
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/diabetic.html">DIABETIC</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/eye&ear.html">EYE & EAR</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/oral.html">DENTAL & ORAL</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Herbal.html">HERBAL</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Multivitamins.html">MULTIVITAMINS</a></li>
			<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/sexual.html">SEXUAL</a></li>
          </ul>
        </li>

		<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pharmacy<span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="#">Product Request</a></li>
            <li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/AllMedicines.html">All Medicines</a></li>
			<li><a href="#">Prescription Upload</a></li>


          </ul>
        </li>
		<li><a href="file:///C:/Users/HP%20ProBook/Desktop/bootstrap/boostrap/Aboutus.html">About us</a></li>
        <li><a href="#contact">Contact</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>

	  <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</div>

</div>
</nav>
<br>
<!-- first three image -->

<div class="container">
  <h2 style="color:#1f1f2e">Personal care products:</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="facewas1.jpg" target="_blank" style="width:50%">
          <img src="facewas1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Nivea Men Mosturizing Facewash.</p>
			<h1> 300tk </h1>
		 <p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
      </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="clearsil.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Clerasil Daily Facewash.</p>
			<h1>450tk</h1>
			<p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
      </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="neutrogena.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Neutrogena Oil Free Acne Wash.</p>
			<h1>450tk</h1>
			<p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
      </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="savlon.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Savlon antiseptic Liquid.</p>
			<h1>200tk</h1>
			<p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
      </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="shampoo1.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Nizoral Anti Dandruf Shampoo.</p>
			<h1>550tk</h1>
			<p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
      </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="shampoo2.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>G-K Hair Anti Dandruf Shampoo</p>
			<h1>600tk</h1>
			<p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
      </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="shampoo3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>L'Occitane Revitalizing Fresh Shampoo.</p>
			<h1>750tk</h1>
			<p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
      </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>




<!-- finish -->




</body>
</html>
