{% extends 'base.html' %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Terms & Conditons</h1>
                    <p>Health Inspecter is a dream that turned into a tech based startup, a business with a great purpose to create positive impacts in peoples' lives. It is the first online medical services and tests comparing platform in Bangladesh, providing real time information through a fully	integrated system. Health Inspector is missioned to bring convenience in the healthcare service for the general people in Bangladesh.</p>

                    <h4>Please pay attention to our tems and conditions</h4>

                    <p>
                      </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
